.wrapper {
  width: 350px;
}

.wrapper .inputData {
  height: 40px;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.wrapper .inputData input {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #60a5fa;
  color: white;
  background-color: transparent;
  padding: 0px;
  outline: none !important;
}

.inputData input:focus ~ label,
.inputData input:valid ~ label,
.inputData input:not(:placeholder-shown) ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #cbd5e1;
  font-weight: 500;
  margin-bottom: 1px;
}
.input {
  font-size: 0.9rem;
  padding: 0px;
}
.wrapper .inputData label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: white;
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputData .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.inputData .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #a78bfa;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.inputData input:focus ~ .underline:before,
.inputData input:valid ~ .underline:before {
  transform: scaleX(1);
}
.input:focus-visible {
  outline: none !important;
}

.inputData .underline2 {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.inputData .underline2:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 215%;
  background: #a78bfa;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
@media (max-width: 1300px) {
  .wrapper .inputData input {
    width: 150% !important;
  }
  .wrapper .inputData input:focus {
    width: 150% !important;
  }
  .inputData .underline2:before {
    width: 150% !important;
  }
}
.inputData input:focus ~ .underline2:before,
.inputData input:valid ~ .underline2:before {
  transform: scaleX(1);
}
@media (max-width: 950px) {
  .wrapper .inputData input {
    width: 100% !important;
  }
  .wrapper .inputData input:focus {
    width: 100% !important;
  }
  .inputData .underline2:before {
    width: 100% !important;
  }
}
