@media (max-width: 768px) {
  .passwordInput {
    width: 100% !important;
  }
  .group {
    width: 80% !important;
  }
}
.group {
  width: 65%;
}
.passwordInput {
  background-color: transparent;
  outline: none;
  width: 215% !important;
}
.passwordError {
  border-bottom: solid #dc3545 2px !important;
  transition: border-bottom 0.7s;
}
