.card {
  background-color: var(--mantine-color-body);
  width: 600px;
}

.imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 1px var(--mantine-color-gray-3);
}

.section {
  padding: 1rem;
}
