:root {
  --main-bg-color: #60a5fa; /* Define a variable for the background color */
  --accent-color: #a78bfa;
}
.wrapper {
  position: relative;
  padding-top: 180px;
  padding-bottom: 130px;
  flex-direction: row-reverse !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 800 !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  color: white !important;
  margin-bottom: 8px !important;
  text-align: center !important;
  font-family: "Poppins" !important;
}

.description {
  color: rgb(207, 207, 207) !important;
  text-align: center !important;
  font-family: "Poppins" !important;
  font-size: 2rem;
  font-weight: 400 !important;
  max-width: 65rem !important;
}
@media (max-width: 750px) {
  .description {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .description {
    font-size: 1.4rem;
  }
}
@media (max-width: 300px) {
  .description {
    font-size: 1rem;
  }
}
.image {
  transform: scale(1.2);
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0  10px rgba(253, 186, 116, 0.1); */
  border-radius: 20px; /* Adjust the radius as needed */
}
@media (max-width: 990px) {
  .image {
    transform: scale(1.2);
  }
}
@media (max-width: 600px) {
  .image {
    transform: scale(1);
  }
}
.control {
  background-color: #f43f5e;
  border: 2px solid #f43f5e;
  border-radius: 5px;
  transition: background-color 0.5s ease, border-color 0.5s ease,
    border-radius 0.5s ease !important;
}
.control:hover {
  background-color: #a78bfa;
  border: 2px solid#a78bfa;
}
.control::after {
  content: "";
}
.control:hover:after {
  content: " >";
}
.root {
  background: rgb(253, 186, 116);
  background: linear-gradient(
    90deg,
    rgb(96, 165, 250) 0%,
    rgb(167, 139, 250) 100%
  );
  overflow-y: hidden;
  position: relative;
  padding-top: 180px;
  padding-bottom: 130px;
  flex-direction: row-reverse !important;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageCTA {
  border-radius: 15px;
  transform: scale(0.6);
}
.title2 {
  font-weight: 800 !important;

  padding-left: 16px !important;
  padding-right: 16px !important;
  color: white !important;
  margin-bottom: 8px !important;
  text-align: center !important;
  font-family: "Poppins" !important;
}
.control2 {
  background-color: #0ea5e9;
  border: 2px solid #0ea5e9;
  border-radius: 5px;
  transition: background-color 0.5s ease, border-color 0.5s ease,
    border-radius 0.5s ease !important;
}
.control2:hover {
  background-color: #0284c7;
  border: 2px solid #0284c7;
}
@media (max-width: 992px) {
  .root {
    height: 110vh;
  }
}
@media (max-width: 750px) {
  .root {
    height: 90vh;
  }
}
@media (max-width: 400px) {
  .root {
    height: 70vh;
    overflow-x: hidden;
  }
}
@media (max-height: 700px) {
  .wrapper {
    margin-bottom: 20vh;
  }
}
